/*251314    MtpA    Created*/

.registerButtons {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

.loginButtons {
    position: absolute;
    bottom: 0;
    margin-top: 20px;    
}

.submitButtons {
    position: absolute;
    bottom: 0;
    margin-top: 20px;    
}

.logoutBtn {
    margin-left: 50px;
}