/*130314    MtpA    Created stylesheet*/

.header { 
  width: 950px;
  font: 170% 'hello', arial, sans-serif;
  height: 30px;
  padding: 0 0 20px 0;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: blue;
  margin-bottom: 50px;
}

.footer { 
  width: 950px;
  font: 170% 'hello', arial, sans-serif;
  height: 30px;
  padding: 5px 0 20px 0;
  border-top-width: 2px;
  border-top-color: blue;
  border-top-style: solid;
  margin-top: 50px;
}

.detailsBox {
    border-bottom: 1px solid #bbb;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
}


.debugText {
    color: green;
}

.errors {
    width: 900px;
    text-align: center;
    padding: 5px, 5px, 20px, 20px;
    border-style: dotted;
    border-width: 2px;
    border-color: red;
    color: red;
}